*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: #f0f0f0;
}

#menu {
    background: linear-gradient(#777, #bbb);
}

.menu-list li:hover {
    background-color: #999;
}

.main-section {
    margin-left: 20%;
    padding: 20px;
    height: 85vh;
}

.page-title {
    font-size: xx-large;
    color: #333;
}

.project {
    background-color: #e0e0e0;
    border-radius: 1rem;
}

.project-image img {
    box-shadow: 0.3rem 0.3rem 0.3rem gray;
}

.about-section {
    background-color: #e0e0e0;
}

.experience-section {
    background-color: #e0e0e0;
    border-radius: 1rem;
}

#expResume {
    background-color: #333;
    color: white;
}

#pfResume {
    background-color: #555;
}

#modalPage {
    background-color: rgba(0, 0, 0, 0.8);
}
